@use '../0-init/color' as *;


.info_box{
  box-shadow: none;
  border: 0.1rem solid $neutral-lightgrey;
  border-radius: 2rem;
  padding: 16px 26px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 43%;
  gap: 12px;
  transform: translateY(26px);
  background-color: white;
}

.info_box svg{
  width: 1.6em;
  height: 1.6em;
}

.info_box + div > :first-child{
margin-top: 30px;
}
