@use '../0-init/color' as *;


.box_infos{
  box-shadow: none;
  border: .1rem solid #e6f0ea;
  border-radius: 3.2rem;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 43%;
  gap: 12px;
}
