@use '../0-init/color' as *;

.bottom_fixed {
  position: fixed;
  right: calc(20px + env(safe-area-inset-right, 0px));
  bottom: calc(16px + env(safe-area-inset-bottom, 0px));
  left: calc(20px + env(safe-area-inset-left, 0px));
  z-index: 10;
  width: auto;
}
