

.comments_drawer_modal .comments_panel{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comments_drawer_modal .deposit_comment{
  padding: 8px 0;
}

.comments_drawer_modal .comment_main{
  display: flex;
  flex: 1;
  gap: 12px;
  min-width: 0;
}

.comments_drawer_modal .username{
  display: flex;
  align-items: center;
}

.comments_drawer_modal .username svg {
  font-size: 16px
}



.comments_drawer_modal .deposit_comment_form {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.comments_drawer_modal .deposit_comment_form .MuiTextField-root {
  flex: 1;
}

.comments_drawer_modal .deposit_comment_form .MuiInputBase-root {
  align-items: flex-start;
}

.comments_drawer_modal .deposit_comment_form textarea.MuiInputBase-inputMultiline {
  overflow: hidden !important;
}

.comments_drawer_modal .comment_helper_text {
  min-height: 20px;
}

.comments_drawer_modal .comment_helper_text.warning {
  color: var(--mm-color-text);
  opacity:0.7;
}

.comments_drawer_modal .comment_submit_button {
  color: var(--mm-color-text);
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.comments_drawer_modal .comment_submit_button.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
