
.comments_list{
  padding-top: 100px;
  margin-top: -88px;
  display: grid;
  gap: 26px;
  z-index:1;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideInFromTop 280ms ease-out forwards;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comment_composer{
  display: flex;
  gap: 6px;
  align-items: center;
  background:var(--mm-color-primary-light);
  border-radius: var(--mm-radius-md);
  padding:4px 12px 4px 12px;
}

.composer_container .deposit_interact{
    display:none;
  }


.comment{
  
  display: grid;
  gap: 12px;
  margin: 0 12px;
  
  .comment_header{
    display: flex;
    align-items: center;
  }

  .comment_header_user{
    width: 100%;
  }

  .comment_date{
    text-wrap-mode: nowrap;
    opacity: var(--mm-opacity-light-text);
  }

  .comment_content{
    padding-left: 36px;
    display:grid;
    gap: 12px;
    border-left: 1px solid var(--mm-color-divider);
    margin-left: 14px;
  }

  .comment_message{
    padding: 12px 12px;
    background-color: var(--mm-color-surface);
    border-radius: var(--mm-radius-md);
    border: var(--mm-border-default);
    box-shadow: 0 4px 8px -4px rgb(0 0 0 / 20%);
  }

  




  
  
}
