

.comments_drawer_modal .comments_panel{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comments_drawer_modal .deposit_comment{
  padding: 8px 0;
}

.comments_drawer_modal .comment_main{
  display: flex;
  flex: 1;
  gap: 12px;
  min-width: 0;
}

.comment_drawer_modal .username{
  display: flex;
  align-items: center;
}

.comment_drawer_modal .username svg {
  font-size: 16px
}

