@use '../0-init/color' as *;

.my_deposit_notif{
  display: flex;
  flex-direction: column;
  background-color: $bg-blue;
  border-radius: 20px;
  margin: 20px;
  padding: 16px;
  gap: 16px;
}

.my_deposit_notif svg{
color : $secondary-cyan;
}

.my_deposit.deposit_song{
  background-color: $white;
}

.deposit{
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  box-shadow: none;
  border: 0.1rem solid $neutral-lightgrey;
  border-radius: 3.2rem;
}
.deposit_main{

}


#older_deposits_list{
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 26px;
  padding-bottom: 32px;
  background-color:  $bg-grey;
  
}

#older_deposits_list .deposit{
  
}

.deposit .deposit_infos{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 8px;
  padding: 20px;
}
.deposit .deposit_date{

}

.deposit .deposit_user{
  display: flex;
  align-items: center;
  gap: 6px;
}

.deposit .deposit_user span{
  display: flex;
  align-items: center;
  gap: 4px;
}

.deposit .avatar {
  width : 26px;
  height : 26px;
}

.deposit .deposit_song, .my_deposit.deposit_song {
  background-color: $neutral-lightgrey;
  padding: 20px;
  padding-bottom:16px;
  display: flex;
}

.deposit_main .deposit_song{
  flex-direction: column;
  gap: 8px;
}

.deposit_list .deposit_song, .deposit_list.deposit_song{
  flex-direction: row;
  gap: 16px;
  align-items:center;
  padding:16px;
}

.deposit .img_container{
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.img_container img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.deposit_main .img_container{
  width : 66%;
  margin : auto;
}

.deposit_list .img_container{
  width : auto;
  width : 33%;
}



.deposit .interact{
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.deposit_main .interact{
  align-items: center;
}

.deposit_list .interact{
  justify-content: left;
}

.deposit .texts{
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align:center;
  padding:6px 0;
}

.deposit_main .texts{
  flex-direction: column;
  align-items: center;
}

.deposit_list .decouvrir{
  display: flex;
  flex-direction: inherit;
  padding: 8px 12px;
  gap: 8px;
  width: auto;
  min-width: auto;
  height: auto;
}

.deposit_list .points_container{
 margin:0;
}

.deposit .deposit_react{
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.deposit .deposit_react .reaction{
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  padding: 6px 12px 7px 12px;
}

.current_reaction{
  border: solid 2px #7bd528;
}
.deposit_react .icon_container{
  background-color : $primary-green;
  border-radius: 1rem;
}

.deposit_react .icon_container svg{
  color: $black
}
