@use '../0-init/color' as *;

.deposit{
  padding: 16px;
  display:flex;
  flex-direction: column;
  gap : 16px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  margin: 20px 0px;
  
}

.deposit .deposit_date{
  padding: 6px 16px;
}

.deposit .deposit_user{
  display: flex;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;
}

.deposit .deposit_user span{
  display: flex;
  align-items: center;
  gap: 4px;
}

.deposit .deposit_song{
  background-color: rgba(0, 0, 0, 0.04);
  padding: 26px;
  border-radius: 26px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deposit .deposit_song .img_container{
  border-radius: 8px;
  width : 66%;
  margin : auto;
}

.deposit .deposit_song .img_container img{

}

.deposit .interact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.deposit .interact .texts{
  display: flex;
  flex-direction: column;
  gap: 0px;
}





