@use '../0-init/color' as *;

.deposit{
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  box-shadow: none;
}
.deposit_main{

}
#older_deposits_list{
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 26px;
  padding-bottom: 32px;
  background-color:  rgb(123, 213, 40);
}

#older_deposits_list .deposit{
  
}

.deposit .deposit_infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 20px;
}
.deposit .deposit_date{

}

.deposit .deposit_user{
  display: flex;
  align-items: center;
  gap: 6px;
}

.deposit .deposit_user span{
  display: flex;
  align-items: center;
  gap: 4px;
}

.deposit .avatar {
  width : 26px;
  height : 26px;
}

.deposit .deposit_song{
  background-color: rgba(0, 0, 0, 0.04);
  padding: 20px;
  padding-bottom:16px;
  display: flex;
}

.deposit_main .deposit_song{
  flex-direction: column;
  gap: 8px;
}

.deposit_list .deposit_song{
  flex-direction: row;
  gap: 16px;
  align-items:center;
  padding:16px;
}

.deposit .deposit_song .img_container{
  border-radius: 8px;
}

.deposit_main .deposit_song .img_container{
  width : 66%;
  margin : auto;
}

.deposit_list .deposit_song .img_container{
  width : auto;
}



.deposit .interact{
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.deposit_main .interact{
  align-items: center;
}

.deposit_list .interact{
  justify-content: left;
}

.deposit .interact .texts{
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align:center;
}

.deposit_main .interact .texts{
  flex-direction: column;
  align-items: center;
}

.deposit_list .interact .decouvrir{
  display: flex;
  flex-direction: inherit;
  padding: 8px 12px;
  gap: 8px;
  width: auto;
  min-width: auto;
  height: auto;
}

.deposit_list .interact .points_container{
 margin:0;
}

.deposit .deposit_react{
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px;
}

.current_reaction{
  background-color: #7bd528;
}

.current_reaction span{
  color: white;
}
