/**
 * @file
 * Modal Component Styling
 */

/* ---------------- DEFAULT -----------------*/

/* ---------------- CUSTOM  -----------------*/


.modal{
  padding :26px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.modal_loc{
  
}


.modal_loc .intro{
  
}

.modal h1



