@use '../0-init/color' as *;


.onBoarding{
  background : var(--mm-color-primary-dark);
}

.onBoarding .page_container{
  display: flex;
  position: fixed;
  bottom: 0px;
  left: -50vw;
  right: -50vw;
  flex-direction: column;
  align-items: center;
  top: 56px;
}

.last_song_img.bg{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(18px);
  transform: scale(1.1);
  opacity: 0.40;
}

.last_song_img.pochette_container{
  min-height: 0;
  border-radius: var(--mm-radius-md);
  flex: 1;
  overflow: hidden;
  margin: 20px;
  box-shadow: var(--mm-shadow-high);
  border: solid 10px white;
}

.last_song_img.pochette{
  filter: blur(11px);
  height: 100%;
  transform: scale(1.2);
}

.onBoarding .info_box{
  
}

.onBoarding .container{
  flex-direction: column;
  padding: 26px calc(50vw + 26px);
  gap: 16px;
  display: flex;
  border-radius: 200vw 200vw 0 0;
  background-color: white;
}

.onBoarding .intro{
  padding:0;
}

.onBoarding .steps_container{
  display: flex; 
  flex-direction: column;
  gap: 12px;
  justify-content: left;
  padding: 12px;
  background-color: var(--mm-color-primary-light);
  border-radius: var(--mm-radius-lg);
}


.onBoarding .step{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 4px;
}


.onBoarding .step span{
  aspect-ratio: 1 / 1;
  height: 36px;
  border-radius: var(--mm-radius-round);
  background-color: var(--mm-color-primary);
  color: var(--mm-color-primary-contrast-text);
  display: inline-block;
  flex-direction: row;
  align-items: center;
  text-align: center;
  line-height: 36px;
  font-weight : bold;
}


.onBoarding .step p{
  font-weight : bold;
}
