@use '../0-init/color' as *;



.onBoarding .box_infos{
  box-shadow: none;
  border: 0.1rem solid $neutral-lightgrey;
  border-radius: 3.2rem;
}


.onBoarding .steps_container{
  display :flex;
  flex-direction : column;
  gap :12px;
  align-items: left;
}


.onBoarding .step{
  display :flex;
  align-items :top;
  
}


.onBoarding .step span{
  
}


.onBoarding .step p{
  
}
