@use '../0-init/color' as *;


.onBoarding{
  background : $gradient-darkgreen;
}


.onBoarding .box_infos{
  box-shadow: none;
  border: 0.1rem solid $neutral-lightgrey;
  border-radius: 3.2rem;
}

.onBoarding .container{
  flex-direction: column;
  padding: 26px calc(50vw + 26px);
  gap: 16px;
  display: flex;
  border-radius: 200vw 200vw 0 0;
  background-color: white;
}

.onBoarding .intro{
  padding:0;
}

.onBoarding .steps_container{
  display :flex;
  flex-direction : column;
  gap :12px;
  align-items: left;
}


.onBoarding .step{
    display: flex;
    gap: 12px;
    align-items: center;
}


.onBoarding .step span{
  aspect-ratio: 1 / 1;
  height: 36px;
  border-radius: 100px;
  background-color: #e6f0ea;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  text-align: center;
  line-height: 36px;
}


.onBoarding .step p{
  
}
