@use '../0-init/color' as *;



.onBoarding .box_infos{
  box-shadow: none;
  border: 0.1rem solid $neutral-lightgrey;
  border-radius: 3.2rem;
}


.onBoarding .steps_container{
  display :flex;
  flex-direction : column;
  gap :12px;
  align-items: left;
}


.onBoarding .step{
    display: flex;
    gap: 12px;
    align-items: center;
}


.onBoarding .step span{
  aspect-ratio: 1 / 1;
  height: 36px;
  border-radius: 100px;
  background-color: #e6f0ea;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  text-align: center;
  line-height: 36px;
}


.onBoarding .step p{
  
}
