.points_container{
  display: flex;
  margin-right: 5%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}


.points_container svg{
  fill: #7BD528;
  width: 1.5em;
  height: 1.5em;
}

.points_container span{
  
}
