@use '../0-init/color' as *;

.points_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding: 6px 6px 6px 12px;
  box-shadow: none;
  border-radius: 500px;
  background-color: white;
  border: 0.1rem solid $neutral-lightgrey;
}



.points_container svg{
  fill: #7BD528;
  width: 1.5em;
  height: 1.5em;
}

.points_container.points_container_big svg{
  fill: #7BD528;
  width: 1.7em;
  height: 1.7em;
}


.points_container span{
  font-weight : bold;
}

.points_container.points_container_big span{
  font-size: 20px;
}
