
.profile .status{
  background-color: var(--mm-color-primary-light);
  padding: 12px 16px;
  border-radius: var(--mm-radius-sm);
}


.profile .favorite{
  padding: 20px;  

}

.profile .favorite .slot{
  min-height: 120px;
  border-radius: var(--mm-radius-lg);
  border: dashed 2px var(--mm-color-divider);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

