
.react_list{ 
  display: flex;
  flex-wrap: wrap;
  padding: 26px 0;
}


.react_item{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25%;
  padding: 0;
  margin: 0;
}

.react_item .points_container{
  margin: 0;
  margin-top: -15px;
}

.react_emoji{
  font-size: 1.5em;
}
