
.success_container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 16px;
    padding: 16px 26px;

}

.success{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 8px 0;
  border-radius: 26px;
  align-items: baseline;
  gap: 0;
  padding: 16px;
}

.success .success_design{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}


.success .success_infos{
  
}

.success .success_title{
  margin-top: 16px;
  margin-bottom: 4px;
}

.success .success_desc{
  margin-bottom:16px;
}

.success .success_emoji{
    font-size: 40px;
    padding: 0 12px;
}

