
.success_container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 16px;
  padding: 16px 20px;

}

.success{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
  padding: 12px 16px;
  box-shadow: none;
  border: 0.1rem solid $neutral-lightgrey;
  border-radius: 3.2rem;
}

.success .success_design{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}


.success .success_infos{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.success .success_title{
  margin-top: 16px;
  margin-bottom: 4px;
}

.success .success_desc{
  margin-bottom:16px;
}

.success .success_emoji{
    font-size: 40px;
    padding: 0 12px;
}
