
.intro{
  text-align: center;
  padding: 36px;
  display: grid;
  gap: 12px;
}


.older_deposits .intro{
    padding: 36px 32px;
}

.intro_small{
  text-align: center;
  padding: 16px;
  display: grid;
  gap: 12px;
}
