

.no_scroll_bar{
  -ms-overflow-style: none; /* IE / old Edge */
  scrollbar-width: none; /* Firefox */
}

.no_scroll_bar::-webkit-scrollbar{
  display: none; /* Chrome / Safari */
}


.d-flex {
  display: flex;
  gap: 8px;
}

.MuiAppBar-root {
  box-shadow: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
