@use "../0-init/color" as *;

.search_personalization_selector_adornment {
  margin-left: 4px;
}

.search_personalization_selector_button {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 4px;
  border-radius: 999px;
  color: var(--mm-color-text-secondary);
}

.search_personalization_selector_icon {
  display: block;
  width: 22px;
  height: 22px;
  flex: 0 0 auto;
}
.search_personalization_selector_arrow{
  color: var(--mm-color-black);
  opacity: var(--mm-opacity-light-text);
}


// -------- modale -------

.search_personalization_selector_menu_paper {
  max-width: 320px;
  border-radius: var(--mm-radius-lg);
}

.search_personalization_selector_menu_list {
  padding: 16px;
  gap: 12px;
  display: grid;
}

// -------- modale content -------

.search_personalization_selector_modal_header {
  max-width: 320px;
  display: grid;
  gap: 4px;
  margin-bottom: 8px;
}

.search_personalization_selector_modal_text {
  color: var(--mm-color-text);
}

.search_personalization_selector_menu_list li, .search_personalization_selector_provider{
  border-radius: var(--mm-radius-md);
  border: solid 1px var(--mm-color-primary-light);
  min-width: 280px;
  padding: 12px 16px;
  box-sizing: border-box;
}
.search_personalization_selector_provider{
  12px 16px 6px 16px
}

.search_personalization_selector_menu_list li.Mui-selected{
  border: solid 2px var(--mm-color-primary);
}


.search_personalization_selector_provider_label {
  margin-bottom: 8px;
}
