/**
 * @file
 * Color Variables
 */

$black: #000;
$white: #fff;

$bg-grey: #f2f2f2; // gris de bg
$bg-blue: #e3f2ff;

$neutral-extralightgrey: #f8f9f8;
$neutral-lightgrey: #e6f0ea;
$neutral-semilightgrey: #dae4de;
$neutral-grey: #c6d5cc;
$neutral-darkgrey: #595959;
$neutral-extradarkgrey: #3f3f3f;


$primary-darkgreen: #002300;
$primary-mediumgreen: #02640b;
$primary-green: #78d700;

$secondary-yellow: #e8c500;
$secondary-purple: #8c8cff;
$secondary-pink: #ffb9ff;
$secondary-orange: #ff8c12;
$secondary-cyan: #73beff;
$secondary-blue: #12a0f3;

$pastel-green: #f0ffe6;
$pastel-yellow: #fffacd;
$pastel-purple: #ebebff;
$pastel-orange: #fff5eb;
$pastel-pink: #fff0ff;
$pastel-blue: #ebf5ff;

$service-red: #a4280d;
$service-orange: #d38003;
$service-yellow: #d7c200;


$spotify: #1ED760;
$deezer: #9C42F3;
$orange: #FD5D01;

$highlight-green: linear-gradient(to top, RGB(118 197 18 / 0.3) 0%, RGB(118 197 18 / 0.3) 50%, transparent 50%, transparent 100%);
$gradient-darkgreen: linear-gradient(80deg,#002300 35%,#034003);
$gradient-green: linear-gradient(20.98deg, #78D700 59.75%, #ABE604 100%);
$gradient-yellow: linear-gradient(239.34deg, #FCE149 2.54%, #E8C500 36.42%);
$gradient-purple: linear-gradient(58.54deg, #8C8CFF 51.27%, #9D9DFF 100%);
$gradient-orange: linear-gradient(238.07deg, #FFAC54 -0.05%, #FF8C12 41.32%);
$gradient-pink: linear-gradient(239.42deg, #FFE1FF -0.06%, #FFB9FF 33.16%);
$gradient-cyan: linear-gradient(48.71deg, #73BEFF 70.04%, #A3D4FF 100%);
