/**
 * @file
 * Color Variables
 */

$black: #000;
$white: #fff;

$bg-color-1: #f2f2f2; // gris de bg

$neutral-extralightgrey: #f8f9f8;
$eutral-lightgrey: #e6f0ea;
$neutral-semilightgrey: #dae4de;
$neutral-grey: #c6d5cc;
$neutral-darkgrey: #595959;
$neutral-extradarkgrey: #3f3f3f;


$primary-darkgreen: #002300;
$primary-mediumgreen: #02640b;
$primary-green: #78d700;

$secondary-yellow: #e8c500;
$secondary-purple: #8c8cff;
$secondary-pink: #ffb9ff;
$secondary-orange: #ff8c12;
$secondary-cyan: #73beff;
$secondary-blue: #12a0f3;

$pastel-green: #f0ffe6;
$pastel-yellow: #fffacd;
$pastel-purple: #ebebff;
$pastel-orange: #fff5eb;
$pastel-pink: #fff0ff;
$pastel-blue: #ebf5ff;

$service-red: #a4280d;
$service-orange: #d38003;
$service-yellow: #d7c200;


$spotify: #1ED760;
$deezer: #9C42F3;
$orange: #FD5D01
